@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-center-color-blue {
    @apply bg-gradient-to-b to-black from-blue-900
  }

  .bg-center-color-indigo {
    @apply bg-gradient-to-b to-black from-indigo-900
  }

  .bg-center-color-green {
    @apply bg-gradient-to-b to-black from-green-900
  }

  .bg-center-color-red {
    @apply bg-gradient-to-b to-black from-red-900
  }

  .bg-center-color-yellow {
    @apply bg-gradient-to-b to-black from-yellow-500
  }

  .bg-center-color-pink {
    @apply bg-gradient-to-b to-black from-pink-500
  }

  .bg-center-color-purple {
    @apply bg-gradient-to-b to-black from-purple-900
  }

  .bg-center-color-gray {
    @apply bg-gradient-to-b to-black from-gray-900
  }
}